* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
a,
article {
  font-family: 'lato', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.Navbar {
  width: 100%;
  background: transparent;
  position: absolute;
}

.nav-items {
  display: flex;
  align-items: center;
  padding: 2% 2%;
}

#Menu-button {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
}

.bar {
  width: 30px;
  border: solid;
}

.Mobile-Menu {
  position: fixed;
  list-style: none;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #d3d3d3;
  font-size: 48px;
  align-items: center;
  justify-content: space-around;
  padding: 10% 5%;
  margin: 0;
}

#close-menu {
  font-weight: bolder;
  font-size: 78px;
  padding: 0;
}

.display-none {
  display: none;
}

.d-right {
  margin-left: auto;
}

.no-style {
  text-decoration: none;
}

.hideOnDesktop-I {
  display: inline;
}

.hideOnMobile-f {
  display: none;
}

.bg-dark {
  background-color: #272a31;
}

.fc-white {
  color: white;
}

.fc-dark {
  color: #272a31;
}

.fc-orange {
  color: #ec5242;
}

.Headline {
  padding: 15% 5%;
  background-image: url('Images/car-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Headline article {
  border: solid white;
  padding: 4%;
  font-size: 3vw;
}

.h1-mobile {
  font-size: 10vw;
}

.h2-mobile {
  font-size: 4vw;
}

.Headline h1 {
  margin-top: 0;
}

.Headline h2 {
  margin-bottom: 0;
}

#location {
  margin-top: 2px;
  font-size: 5vw;
}

.Headline p {
  margin-bottom: 0;
  font-size: 5vw;
}

.bg-light {
  background-color: #d3d3d3;
}

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
  gap: 2vh;
  padding: 2%;
}

.main-program-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main-program-title-underline {
  background-color: #ec5242;
  width: 30%;
  padding: 1px;
  display: block;
  opacity: 50%;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 4%;
  background-color: #353a44;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.card-header {
  width: 20%;
}

.card-title {
  width: 20%;
}

.card-title span {
  font-family: 'lato', sans-serif;
  font-weight: 600;
}

.card-body {
  width: 50%;
  padding: 0;
}

.card-content {
  font-size: 3vw;
  color: white;
  margin: 0;
}

.main-program-btn {
  margin: 5%;
  padding: 5%;
  background-color: #ec5242;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: 'lato', sans-serif;
  font-size: 4vw;
}

@media only screen and (min-width: 768px) {

  .logo {
    width: 40px;
  }
  .nav-signin {
    padding: 0 20% 0 0;
  }

  .nav-signin ul {
    margin: 2px 0 2px auto;
  }

  .nav-ul {
    display: flex;
    list-style: none;
    align-items: center;
  }

  .Headline {
    padding: 10% 20% 10% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('Images/car-desktop\ \(2\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .Headline article {
    border: solid white;
    padding: 4%;
    font-size: 1.8vw;
    width: 70%;
  }
  
  .h1-mobile {
    font-size: 7vw;
  }
  
  .h2-mobile {
    font-size: 3vw;
  }
  
  .Headline h1 {
    margin-top: 0;
  }
  
  .Headline h2 {
    margin-bottom: 0;
  }
  
  #location {
    margin-top: 2px;
    font-size: 2vw;
  }
  
  .Headline p {
    margin-bottom: 0;
    font-size: 5vw;
  }
  
  .bg-light {
    background-color: #d3d3d3;
  }

  .gap-close {
    gap: 1.2vw;
  }

  .gap-wide {
    gap: 3vw;
  }

  .nav-ul a {
    font-family: 'lato', sans-serif;
  }

  .fs-small {
    font-size: medium;
  }

  .fs-medium {
    font-size: large;
  }

  .nav-items {
    display: flex;
    align-items: center;
    padding: 1% 8%;
    background-color: white;
    border-bottom: solid #d3d3d3;
  }

  .hideOnDesktop-I {
    display: none;
  }

  .hideOnMobile-f {
    display: flex;
  }

  .padded-border {
    border: solid 3px;
    padding: 10px;
  }

  .nav-links ul li a {
    font-weight: 500;
  }

  .Mobile-Menu {
    position: static;
    list-style: none;
    display: flex;
    flex-direction: row;
    background: none;
    font-size: large;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  #Menu-button {
    display: none;
  }

  .Navbar {
    position: fixed;
  }

  .main-program {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272a31;
    gap: 2vh;
    padding: 5%;
  }
  
  .main-program-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .main-program-title-underline {
    background-color: #ec5242;
    width: 30%;
    padding: 1px;
    display: block;
    opacity: 50%;
  }

  .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    margin: 0 10%;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
    background-color: #353a44;
  }
  
  .card-header {
    width: fit-content;
  }
  
  .card-title {
    width: fit-content;
  }
  
  .card-title span {
    font-family: 'lato', sans-serif;
    font-size: 2vw;
    font-weight: 600;
  }
  
  .card-body {
    width: fit-content;
    padding: 0;
  }
  
  .card-content {
    font-size: 1.2vw;
    margin: 0;
    text-align: center;
  }

  .main-program-link {
    margin-top: 5%;
    opacity: 70%;
  }
  
}
